<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <title>Erro ao deletar</title>
</head>
<body class="container">
    <h1>Voce nao pode deletar esse Professor, pois alunos dependem dele.</h1>
    <h2>Se voce quiser realmente apagar esse professor faça:</h2>
    <hr>

    <ol class="list-group list-group-numbered">
        <li class="list-group-item">Entre na lista de Alunos</li>
        <li class="list-group-item">Confira quais alunos são dependentes desse professor</li>
        <li class="list-group-item">Apague ou tranfira esses alunos para outro professor</li>
        <li class="list-group-item">Feito isso, voce podera apagar esse professor/li>
    </ol>

    <hr>
    <button type="button" class="btn btn-primary btn-lg"><a href="/" style="color: white; text-decoration: none;">Home</a></button>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>