<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<title>Lista de Professores</title>
</head>
<body class="container">
	<h1>Lista de Professores:</h1>
	<a href="/Escola/Professor/AdicionarProf">Adicionar Professor</a>
	<br>
	<a href="/">Voltar</a>
	<hr>
	<table class="table table-light table-striped">
		<thead>
			<tr>
				<th scope="col">#ID</th>
				<th scope="col">Nome</th>
				<th scope="col">Email</th>
				<th scope="col">Materia</th>
				<th scope="col">Salario</th>
				<th scope="col"></th>
				<th scope="col"></th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="prof : ${Lista}">
				<th scope="row" th:text=${prof.getId()}></th>
				<td scope="row" th:text="${prof.nome}"></td>
				<td scope="row" th:text="${prof.email}"></td>
				<td scope="row" th:text="${prof.materia}"></td>
				<td scope="row" th:text="${prof.salario}"></td>
				<td><a
					th:href="@{/Escola/Professor/EditarPro/{id}(id=${prof.getId()})}"
					th:method="get">Editar</a></td>
				<td><a
					th:href="@{/Escola/Professor/deletar/{id}(id=${prof.getId()})}"
					th:method="delete">Deletar</a></td>

			</tr>

		</tbody>

	</table>


	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>

</body>
</html>